[Service]
ExecStart=/usr/lib/puncher/bootstrap.sh
Restart=on-failure
RestartSec=30
DynamicUser=true
CapabilityBoundingSet=
ProtectSystem=full
ProtectHome=tmpfs
RuntimeDirectory=puncher
PrivateTmp=true
PrivateDevices=true
PrivateUsers=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
NetworkNamespacePath=/run/netns/%i

[Install]
WantedBy=multi-user.target

